header{
    background-color: lightgray;
    border-bottom: 2px solid rgb(221, 161, 32);
    text-align: center;
}
h2{
    color: rgb(221, 161, 32);
}
footer{
    border-top:2px solid rgb(221, 161, 32);
    text-align: center;
    padding: 2%;
}
img{
    width: 220px;
    height: 200px;
}