header{
    background-color: lightgreen;
    border-bottom: 2px solid rgb(221, 161, 32);
    text-align: center;
    padding: 3%;
    width: 800px;
    margin: 0px auto;
}
h2{
    color: rgb(221, 161, 32);
    font-size: 30px;
    text-decoration: underline;
}
footer{
    border-top:2px solid rgb(221, 161, 32);
    text-align: center;
    padding: 2%;
    background-color: lightgreen;
    width: 800px;
    margin: 0px auto;
}
img{
    width: 220px;
    height: 200px;
}
section{
    width: 800px;
    margin: 0px auto;
}
h3{
    font-style: italic;
    font-size: 20px;
}
main{
    text-align: center;
}
p{
    font-family: Verdana;
}
span{
    font-weight: bold;
}
h1{
    font-size: 40px;
    color: rgb(221, 161, 32);
}