body{
    background-image: url("img/sfondo.jpg");
    background-size: 100%;
    margin: 0%;
    text-align: center;
}
h1{
    font-family: fantasy;
    font-size: 35px;
    color: rgb(221, 144, 0);
    font-style: italic;
}
h2{
    font-family: fantasy;
    font-size: 18px;
    color: rgb(221, 144, 0);
}
#sottotitolo{
    font-size: 15px;
    text-decoration: underline;
    color: black;
}
#privacy{
    color: blue;
    text-decoration: underline;
    font-size: 20px;
}
button{
    background-color: rgb(221, 144, 0);
    width: 110px;
    height: 50px;
    font-size: 15px;
}